<div class="center">
 <div class="centered" >
    <h1>Tell your friends about "<%= poll.escape("title") %>"</h1>
    <form id="emailPoll">
      <label for="emails">Enter up to 10 emails (separated by commas)</label>
      <br>
      <textarea id="poll_title" name="emails[friend_emails]"></textarea>
      <p>
      Your email will look like this: 
      </p>
      <div>
      <h3>Hey Friend,</h3> 
      <p>
      Come take my poll at Polladillo!
      <h3><a href="http://polladillo.com/#/polls/<%= poll.id %>/vote"> 

      <%= poll.escape("title") %></a></h3>
      Sent to you by <%= PollApp.currentUser.escape("username") %> (<%= PollApp.currentUser.escape("email")%>)
      </p>
      </div>
       <input type="button" value="Send Emails" id="sendEmails" >
    </form>
</div>
</div>