<li data-answer-num="<%= answerNum %>">
<% if(!answer.isNew()){ %>
  <input type="hidden" name="poll[questions_attributes][<%= questionNum %>][answers_attributes][<%= answerNum %>][id]" value="<%= answer.id %>" >
<% } %>
  <p>
   <label>Answer Choice</label>
  <input type="text" class="answer" name="poll[questions_attributes][<%= questionNum %>][answers_attributes][<%= answerNum %>][value]" value="<%= answer.escape("value") %>" >
  <input type="button" class="removeAnswer btn btn-danger" value="X" data-answer-num="<%= answerNum %>" data-question-num="<%= questionNum %>" >
  </p>
</li>