<h1><%= poll.escape("title") %></h1>
<form id="votePoll">
<ul>
 <% if(poll.get("questions")){ %>
    <% poll.get("questions").each(function (question) { %>
      <li>
      <h3><%= question.escape("value") %></h3>
        <ul>
        <% if(question.get("answers")){ %>
          <% var question_num = 0 %>
           <input type="hidden" name="votes[<%= question_num %>][question_id]" value="<%= question.id %>" >
          <% question.get("answers").each(function (answer) { %>
            <li>
              <input type="radio" name="votes[<%= question_num %>][answer_id]" value="<%= answer.id %>" id="votes_<%= question_num %>_<%= answer.id %>">
              <label for="votes_<%= question_num %>_<%= answer.id %>"><%= answer.escape("value") %></label>
            </li>
            <% question_num ++ %>
          <% }); %>
        <% } %>
        </ul>
      </li>
    <% }); %>
  <% } %>
</ul>
<input type="button" value="Vote" id="submitVote">
</form>