<!DOCTYPE html>
<html>
<head>
  <title>PollApp</title>
	<script type="text/javascript" src="//use.typekit.net/vwy2vca.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render :partial => "root/bootstrapped_data"%>
<div id="header">
</div>
<div id="content" class="container">
<%= yield %>
</div>
</body>
</html>
